div.content {

    img{
      width: 15em;
    }
  
    div.card.highlight-card.card-small{
      width: 200px;
      span {
        margin-left: auto;
        margin-right: auto;
      }
  
    }
  
  }