form {
  padding-top: 1rem;
  padding-bottom: 10em;
  
  mat-form-field {

    display: inline-flex;
    position: relative;
    text-align: left;
    width: 15em;

    label {
      display: block;
      margin: .5em 0;
      font-weight: bold;
    }
    
  }

  button {
    margin: 0 auto;
    display: flex;
  
    span.mat-button-wrapper {
      margin: 0 auto;
    }
  }
}
